# Compiler files
cache/
out/
broadcast/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env
venv
aggregation/aggregation_bls12_381/tests/
aggregation/aggregation_bls12_381/target/
aggregation/aggregation_bls12_381/*.json
aggregation/aggregation_bls12_381/
aggregation/aggregation_bls12_381/cargo.lock
aggregation/aggregation_bls12_381/output/*

aggregation/aggregation_bn254/tests/
aggregation/aggregation_bn254/target/
aggregation/aggregation_bn254/*.json
aggregation/aggregation_bn254/
aggregation/aggregation_bn254/cargo.lock
aggregation/aggregation_bn254/output/*

.zkey
.r1cs
.ptau   
*.pdf
plot*.py
*.ptau
*.txt
response*
*.wtns
*.zkey
*.r1cs
*.sym
challenge*
CDRGeneration_js/
CDRGeneration_cpp/
circom/*
zkPublic/
zkProofs/
zkMetrics/
ploting/
.gitignore


test/
net-heterogeneity/logs/*
net-heterogeneity/networkFiles/
net-heterogeneity/results/
net-heterogeneity/accounts/
net-heterogeneity/node_modules
net-heterogeneity/*.json

aggregation/aggregation_bls12_381/target/
aggregation/aggregation_bn254/target/
